@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap') ;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap') ;

@media ( max-width : 360px ) {

  .main-done-container {
    background-image: linear-gradient(lightpink, blanchedalmond);
    font-family: Montserrat Alternates , sans-serif;
    height: 640px;
    overflow: auto;
    width: 360px;
  }

  .done-title {
    color: black;
    font-family: Montserrat Alternates , sans-serif;
    font-size: 20px;
    text-align: center;
  }

  .done-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Montserrat Alternates , sans-serif;
    height: 100%;
    padding: 2vh;
    width: 100%;
  }

  .done-img {
    border-radius: 8%;
    height: auto;
    margin: 2vh;
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
  }

  .copied {
    font-size: 18px;
  }

  .btn-done-container {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-around;
    width: 100%;
  }

  .small-container {
    display: flex;
    height: 10vh;
    justify-content: center;
    width: 100%;
  }

  .done-fav, .done-share {
    background-color: rgb(255, 244, 226);
    border-radius: 8%;
    box-shadow: 2px 2px 6px rgb(29, 29, 29);
    height: 8vh;
    margin: 2vh;
    margin-bottom: 0.5vh;
    width: 15vw;
  }

}

