@media ( max-width : 360px ) {

  .geral-footer {
    bottom: 0;
    position: fixed;
  }

  .drinks-footer, .meals-footer {
    background-color: rgb(255, 244, 226);
    border-radius: 8%;
    box-shadow: 2px 2px 6px rgb(29, 29, 29);
    height: 8vh;
    margin: 2vh;
    margin-bottom: 2vh;
    width: 15vw;
  }

  .footer-btn {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: space-around;
    width: 360px;
  }
}

