.merryImg {
  border-radius: 3%;
  box-shadow: 2px 2px 6px black;
  height: auto;
  margin: 3vh;
  max-height: 80vh;
  max-width: 80vw;
  width: auto;
}

.carousel-caption {
  font-size: 25px;
  text-shadow: black 1px 1px 2px;
}
