@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap') ;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap') ;

@media ( max-width : 360px ) {

  .progress-main {
    background-image: linear-gradient(lightpink, blanchedalmond);
    font-family: Montserrat Alternates , sans-serif;
    height: 640px;
    overflow: auto;
    width: 360px;
  }

  .progress-title {
    font-family: Great Vibes , cursive;
    font-size: 42px;
    text-align: center;
  }

  .progress-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Montserrat Alternates , sans-serif;
    height: 100%;
    justify-content: space-between;
    padding: 2vh;
    width: 100%;
  }

  .progress-img {
    border-radius: 8%;
    height: auto;
    margin: 3vh;
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
  }

  .copied {
    font-size: 18px;
  }

  .progress-ingredient {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-bottom: 5vh;
    width: 100%;
  }

  .ing-checkbox {
    accent-color: pink;
    margin: 1vh;
  }

  .return-img {
    height: auto;
    margin: 4vh;
    max-height: 8vh;
    max-width: 8vw;
    width: auto;
  }

  .progress-btn-container {
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: space-between;
    width: 100%;
  }

  .progress-share, .progress-fav {
    background-color: rgb(255, 244, 226);
    border-radius: 8%;
    box-shadow: 2px 2px 6px rgb(29, 29, 29);
    height: 8vh;
    margin-bottom: 2vh;
    width: 15vw;
  }

  .finish-btn {
    background-color: rgb(255, 244, 226);
    border-radius: 8%;
    bottom: 0;
    box-shadow: 2px 2px 6px rgb(29, 29, 29);
    margin-bottom: 2vh;
    position: fixed;
  }

  .active {
    text-decoration: line-through solid black;
  }
}

