@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap') ;

@media ( max-width : 360px ) {

  .recipes-container {
    background-image: linear-gradient(lightpink, blanchedalmond);
    font-family: Montserrat Alternates , sans-serif;
    height: 640px;
    overflow: auto;
    width: 360px;
  }

  .card-title {
    color: black;
    font-size: 32px;
    font-weight: 400;
  }

  a:link {
    text-decoration: none;
  }

  .recipe-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Montserrat Alternates , sans-serif;
    height: 65%;
    padding: 2vh;
    width: 100%;
  }

  .card-img {
    border-radius: 5%;
    box-shadow: 2px 2px 6px black;
    height: auto;
    margin: 3vh;
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
  }

  .filter-btn-container {
    display: flex;
    overflow: auto;
    width: 100%;
  }

  .filter-btn, .button-all {
    background-color: rgb(255, 244, 226);
    border-radius: 8%;
    box-shadow: 1px 1px 6px rgb(29, 29, 29);
    color: black;
    font-size: 15px;
    margin: 5px;
  }

}

