@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap') ;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap') ;

@media ( max-width : 360px ) {

  .details-container {
    background-image: linear-gradient(lightpink, blanchedalmond);
    font-family: Montserrat Alternates , sans-serif;
    height: 640px;
    overflow: auto;
    width: 360px;
  }

  .recipe-title {
    font-family: Great Vibes , cursive;
    font-size: 42px;
    text-align: center;
  }

  .card-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Montserrat Alternates , sans-serif;
    justify-content: space-between;
    padding: 2vh;
    width: 100%;
  }

  .recipe-img {
    border-radius: 8%;
    box-shadow: 2px 2px 6px rgb(29, 29, 29);
    height: auto;
    margin: 3vh;
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
  }

  .button-container {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: space-around;
    width: 100%;
  }

  .fav-button, .share-button {
    background-color: rgb(255, 244, 226);
    border-radius: 8%;
    height: 8vh;
    width: 15vw;
  }

  .copied {
    font-size: 18px;
  }

  .start-recipe-btn {
    background-color: rgb(255, 244, 226);
    border-radius: 7%;
    bottom: 0;
    margin: 0 auto;
    position: fixed;
    transition: 0.5s;
  }

  .start-container {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: space-around;
    width: 360px;
  }

  .video {
    border-radius: 3%;
    box-shadow: 2px 2px 6px black;
    height: auto;
    margin-top: 3vh;
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
  }

  .return-img {
    height: auto;
    margin: 4vh;
    max-height: 8vh;
    max-width: 8vw;
    width: auto;
  }

  .return-button {
    align-items: center;
    background-color: rgb(255, 244, 226);
    border-radius: 8%;
    box-shadow: 2px 2px 6px rgb(29, 29, 29);
    display: flex;
    height: 8vh;
    justify-content: center;
    margin: 2vh;
    margin-right: 80vw;
    width: 15vw;
  }
}

