.geral-footer {
  bottom: 0;
  position: fixed;
}

.finish-btn {
  bottom: 0;
  position: fixed;
}

.active {
  text-decoration: line-through solid black;
}

/* label:has( input:checked ) {
  text-decoration: line-through solid black;
} */

/*
https://stackoverflow.com/questions/73858776/change-background-color-of-label-when-input-radio-is-checked
*/

